<h2>Login</h2>
<form id = 'form' action="/login" method="POST" class='form'>

  <div>
    <label for="username">Username</label>
    <input name="username" class="linearInput">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" name="password">
</div>

{{#if message}}
  <div class='alert alert-error'>{{ message }}</div>
{{/if}}  
<div >
  <input class='button' type="submit"value="Log In" >
</div>
</form>