<h2>Login</h2>
<form id = 'form' action="/login" method="POST" claa='form'>

  <div>
    <label for="username">Username</label>
    <input type="text" name="username" class="linearInput">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" name="password">
</div>

{{#if message}}
  <div class='alert alert-error'>{{ message }}</div>
{{/if}}  
<div class='button'>
  <input type="submit" value="Log In" >
</div>
</form>