<h1>Edit {{theMeal.title}}</h1>

<form action="/meals/{{theMeal._id}}/update" method="POST" class='form'>
  <label for='title' value="{{theMeal.title}}">Name you meal</label>
  <input type="text" name ='title'>
  <label for="ingridients" value="{{theMeal.ingridients}}">List of ingidients</label>
  <input type="text" name ="ingridients">
  <button type="submit">Submit</button>
</form>