<h1>Meals:</h1>
<div class ="box">
{{#each meals}}
  <li><a href="/meals/{{this._id}}" class="foodTitle">{{this.title}}</a></li>
  <a href="/meals/{{this._id}}/edit" class ="secondaryButton">Edit Meal</a> <br>
 <form action="/meals/{{this._id}}/delete" method ="POST">
 <button class ="secondaryButton">Delete Meal</button>
 </form>
{{/each}}
</div>

<a href="/meals/new" class ="button">Create new Meal</a>