<h2>Details for {{theMeal.title}}</h2>
<p>For this meal you will need:<br> {{theMeal.ingridients}}</p>
<br>
<h4>Nutritional Value:</h4>
<p>{{theMeal.kcal}}</p>
<br>
<a href="/meals/{{theMeal._id}}/edit" class ="secondaryButton">Edit This Meal</a>
<a href="/meals" class ="secondaryButton">View all Meals</a>