<h2>Details for {{thePlan.title}}</h2>
<h4>This plan is {{thePlan.length}} days long</p>
<br>
{{thePlan.length}}
<a href="/plans/{{thePlan._id}}/edit" class ="secondaryButton">Edit This Plan</a>
<a href="/plans" class ="secondaryButton">View all Plans</a>